.content {
    white-space: pre-wrap;
}

.post_img {
    width: 80%;
}
@media screen and (max-width: 991px) {
    .post_img {
        width: 75%;
    }
}
@media screen and (max-width: 767px) {
    .post_img {
        width: 100%;
    }
}
