@charset "utf-8";

body {
    font-family: 'Nunito', sans-serif;
}

.box {
    position: fixed;
    top: 0;
    left: 0px;
    z-index: -1;
}
  
.box li {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-animation: anime 15s linear 0s infinite ;
    animation: anime 15s linear 0s infinite ;
}

.box li:nth-child(1) { 
    background-image: url(../img/src1.jpg);
    width: 100vw;
}
.box li:nth-child(2) {
    background-image: url(../img/src2.jpg);
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    width: 100vw;
}
.box li:nth-child(3) {
    background-image: url(../img/src3.jpg);
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    width: 100vw;
}
.box li:nth-child(4) {
    background-image: url(../img/src4.jpg);
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    width: 100vw;
}

@-webkit-keyframes anime { 
    0% {
        -webkit-animation-timing-function: ease-in;
        opacity: 0;
    }
    10% {
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    40% {
        -webkit-transform: scale(1.2);
            -webkit-animation-timing-function: ease-out;
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
    100% { opacity: 0 }
}
@keyframes anime { 
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    10% {
        transform: scale(1.1);
        opacity: 1;
    }
    40% {
        transform: scale(1.2);
            animation-timing-function: ease-out;
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 0;
    }
    100% { opacity: 0 }
}

.catch_copy {
    position: absolute;
    top: 50%;
    left: 10%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}